/* General styling for the home page */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #343a40;
}

h2 {
  font-size: 2em;
  margin: 20px 0;
  color: #495057;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}
/* Adjusted margin for the submit button */
button[type="submit"] {
  margin-top: 150px; /* Add space above the submit button */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

label {
  margin-bottom: 5px;
  font-size: 1em;
  color: #6c757d;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.deploy-container {
  flex: 1;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 8px;
  margin-right: 10px;
}

.item-selection-form {
  flex: 1;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .deploy-container,
  .item-selection-form {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
